* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #222;
	color: white;
}

a {
	color: #f80 !important;
}

ul {
	padding-left: 25px;
	margin-top: 12px;
	font-family: courier, monospace;
	list-style-position: inside;
}

li {
	margin-bottom: 8px;
	font-family: courier, monospace; 
	font-size: 14px;
	word-wrap: break-word;
}

#calcResults {
	padding: 0;
	margin: 10px 0 5px 0;
}

#calcResults > li {
	position: relative;
	padding-left: 25px;
	list-style-type: none;
}

#calcResults > li:hover {
	background-color: #222;
}

.result-item > span {
	padding: 0;
	word-wrap: normal;
	overflow-x: hidden;
	vertical-align: top;
	cursor: pointer;
	display: list-item;
	list-style-type: disc;
}

.result-item {
	display: inline-block;
	width: 420px;
	vertical-align: top;
}

.result {
	font-family: courier, monospace; 
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	word-wrap: break-word;
}

.result.int {
	color: #f80;
}

.result.real {
	color: lime;
}

.result.str {
	color: yellow;
}

.result.error {
	color: red;
	cursor: default;
	font-weight: bold;
}

#calcResultsWrapper {
	position: relative; margin: 1px 8px;
	font-family: courier, monospace; 
	background-color: #444;
	border: solid #ddd 1px;
	box-shadow: 0px 0px 3px yellow;
	overflow:auto;
	width: 480px;
	height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#calcInputWrapper {
	display: block;
	position: relative;
	margin: 7px 8px 6px;
	width: 480px;
	height: 25px;
}

#calcInput {
	position: relative;
	margin: 0;
	padding: 0 30px 0 20px;
	font-family: courier, monospace; 
	font-size: 14px;

	height: 22px;
	line-height: 22px;
	width: 480px;

	border: solid #ddd 1px;
	border-radius: 2px;
	color: #f80;
	background-color: #444;
}

#calcInput:focus {
	border-radius: 0;
	border: solid #f80 2px;
	background-color: black;
	color: white;
	box-shadow: 0px 0px 3px yellow;
}

#Caption {
	position: relative;
	width: 480px;
	min-width: 480px;
	max-width: 480px;
}

#Options {
	position: relative;
	text-align: right;
	margin-left: auto;
	width: auto;
	bottom: 0px;
	margin-bottom: 5px;
}

h2 {
	margin-left: 6px;
	margin-bottom: 1px;
}

.vButton {
	position: absolute; 
	font-weight: bold; 
	font-size: 17px; 
	font-family: courier, monospace; 
	cursor: pointer;

	top: 1px;
	left: 1px;
	bottom: 1px;
	border: 0;
	padding: 0;

    -webkit-appearance: none;
    border-radius: 1px;

	text-align: center;
	width: 19px;
	min-width: 19px;
	max-width: 19px;
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	line-height: 22px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

.historyButton {
	position: absolute; 
	font-size: 18px; 
	font-weight: bold; 
	font-family: courier, monospace; 
	cursor: pointer;
	text-align: center;
	color: #f80;

	top: 3px;
	left: 455px;
	bottom: 1px;
	border: 0;
	width: 24px;
	min-width: 24px;
	max-width: 24px;
	height: 24px;
	line-height: 24px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
	display: none !important;
}

#inputMarker {
	left: 1px; 
	color: yellow;
	background-color: red;
}

#calcExprBtn {
	color: #222;
	background-color: #f80;
}

#calcExprBtn:hover {
	color: white;
	font-weight: bold;
}

pre.result {
	margin-top: 5px;
	margin-bottom: 0;
}

.button {
	background-color: #f80;
	border: 1px solid white;
	color: white;
	font-weight: bold;
	font-size: 10pt;
	padding: 2px 5px 2px 5px;
	display: inline-block;
	text-align: center;
	cursor: pointer;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

.float-left {
	display: inline-block;
}

.float-left > * {
	float: left;
}

.group > * {
	vertical-align: middle;
}

.button.down {
	border-color: #f80;
	background-color: black;
	color: white;
}

.button:hover {
	color: black;
}

.button.down:hover {
	background-color: #222;
	color: yellow;
}

.button.down.grouped:hover {
	cursor: not-allowed;
}

#Clear {
	position: absolute;
	top: 5px;
	right: 30px;
	opacity: 0.5;
	cursor: pointer;
	z-index: 10;
}

#Clear:hover {
	opacity: 1;
}

.readme {
	max-width: 480px;
}

.readme ul {
	padding-left: 5px;
}

.readme li {
	margin: 0 0 0 15px;
}

.readme pre {
	margin-top: 0;
	margin-left: 25px;
}

.readme code {
	font-weight: bold;
}

.group {
	border: 1px solid white;
	color: #f80;
	background-color: #444;
	font-size: 10pt;

	padding: 2px 5px 2px 5px;
	display: inline-block;
	text-align: center;
	cursor: default;
}

.group > select {
	border: 1px solid white;
	border-radius: 3px;
	color: #222;
	background-color: #f80;
	width: 40px;
}

.right-top {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 14px;
}

.second-right-top {
	position: absolute;
	top: 0px;
	right: 50px;
	font-size: 14px;
	/* display: none; */
}

.changeLog {
	border: 1px solid white;
	color: #f80;
	background-color: #444;
	padding: 2px 5px 2px 5px;
	text-align: left;
	cursor: default;
}

span.caption {
	font-weight: bold;
	width: 80px;
	min-width: 80px;
	display: inline-block;
	text-align: left;
}

span.caption:after {
	content: ':';
}

#history {
	text-align: left;
	width: 540px;
	display: block;
}

#MaxCount {
	width: 60px;
}

.historyWrapper > span {
	margin: 0 10px 0 5px;
	font-size: 12pt;
	display: inline-block;
}

span.historyExpr {
	color: yellow;
	font-weight: bold;
}

span.historyType {
	color: #f80;
}

span.historyValue {
	color: white;
}

.historyWrapper {
	padding: 3px 5px 3px 5px;
	margin: 3px 1px 0px 1px;
	border: 1px solid black;
	background-color: #222;
	width: 520px;
	max-width: 530px;
	word-wrap: break-word;
	overflow: hidden;
}

span.remover {
	margin: 0 5px 0 2px;
	cursor: pointer;
	width: 11px;
	height: 12px;
	background-image: url('./icons/bin-12.png');
}

span.remover:hover {
	background-image: url('./icons/bin-12h.png');
}

.rpn-mode {
	color: #4FF;
}

.button-right {
	position: absolute; 
	font-weight: bold; 
	font-size: 12px; 
	font-family: courier, monospace; 
	cursor: pointer;

	top: 1px;
	right: 1px;
	bottom: 1px;

	border: 0;
	padding: 0;
	background-color: #f80;

    -webkit-appearance: none;
    border-radius: 1px;

	text-align: center;
	width: 28px;
	min-width: 28px;
	max-width: 28px;
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	line-height: 22px;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

.ins-menu {
	position: absolute;
	top: -100%;
	right: 0;
	display: none;

	background-color: #444;
	border: 1px solid #f80;

	color: #CCC;
	font-size: 12px; 
	font-family: courier, monospace; 

	height: 100%;
}

.ins-menu-item {
	display: inline-block;
	margin: 0;
	padding: 4px 5px;
	float: left;
	cursor: pointer;
}

.ins-menu-item:hover {
	background-color: #222;
	color: #f80;
}

.button-right.open {
	color: black;
}

.relativePos {
	display: inline-block;
	position: relative;
}

.popup-buttons {
	display: inline-block;
	position: absolute;
	width: 16px;
	top: 1px;
	left: 4px;
}

.popup-item {
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	opacity: 0.6;
	margin: 2px 0;
}

.popup-item:hover {
	opacity: 1;
	background-color: #444;
}

.popup-item-img {
	margin: 2px;
	vertical-align: top;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.hidden {
	display: none;
}
